{% load humanize %}

{% for i in product_list %}
    <div class="item">
        <div class="right floated content">
            <div class="ui left pointing basic green label">
                {% if i.price == 0 %}
                    Depend Inquery
                {% else %}
                    IDR {{ i.price|intcomma }}
                {% endif %}
            </div>
        </div>
        <div class="content">
            <div class="header">
                # {{ i.code }}
            </div>
            <p>
                {{ i.product_name }}
            </p>
            <div class="meta">
                <i class="ui small {% if i.is_active %} green {% else %} red {% endif %} label">{% if i.is_active %} Active {% else %} Closed {% endif %}</i>
            </div>
        </div>
    </div>
{% endfor %}