{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
Reset Password
{% endblock %}

{% block content %}
	<div class="ui vertical basic segment">
		<div class="ui container">
			<div class="ui centered middle aligned stackable grid">
				<div class="row" style="min-height:450px">
					<div class="seven wide column">
						<div class="ui info message">
							<div class="header">Important!</div>
							<p>Please fill regitered email address then open your inbox to get reseting code. Thank you.</p>
						</div>
						<div class="ui segment">
							<form class="ui large form" method="post">
								{% csrf_token %}
								<div class="field">
									{% render_field form.email placeholder='Email address' %}
								</div>
								<button class="ui fluid large button" type="submit">Send Password Reset Code</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}