{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block meta %}
        {% endblock %}

        <link rel="icon" type="image/png" href="{% static 'image/logo-title.png' %}">

        <!-- Semantic UI -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" href="{% static 'init/main.css' %}">
        {% block css %}
        {% endblock %}

        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>

        {% block content %}
        {% endblock %}

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Semantic UI -->
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script src="{% static 'init/main.js' %}"></script>
        
        {% block js %}
        {% endblock %}        
    </body>
</html>