<div class="ui vertical inverted black segment">
    <div class="ui secondary inverted menu fluid container">
        <a href="" class="item">Dashboard</a>
        <a href="" class="item">Product</a>
        <a href="{% url 'dashboard:sale_list' %}" class="item">Sales</a>
        <a href="{% url 'dashboard:member_list' %}" class="item">Users</a>
        <div class="right menu">
            <div class="item">
                <i class="circular user icon"></i>
                {{ request.user }}
            </div>
            <a onclick="window.location.href='/logout'" class="item">
                <i class="logout icon"></i> Logout
            </a>
        </div>
    </div>
</div>