<div class="ui vertical inverted black segment">
    <div class="ui secondary inverted menu fluid container">
        <div class="item header">
            <button class="ui icon inverted button btn-bars">
                <i class="bars icon"></i>
            </button>
        </div>
        <a href="{% url 'dashboard:index' %}" class="item">Dashboard</a>
        <a href="#" class="item">Product</a>
        <div class="right menu">
            <div class="item">
                <i class="circular user icon"></i>
                {{ request.user }}
            </div>
            <a onclick="window.location.href='/logout'" class="item">
                <i class="logout icon"></i> Logout
            </a>
        </div>
    </div>
</div>