{% extends 'base.html' %}


{% block content %}
    {% include 'header.html' %}
    <div class="ui container">
        <div class="ui text menu">
            <div class="right menu">
                {% if request.user.is_superuser %}
                    <a href="" class="item"><i class="user secret icon"></i> Agen</a>
                {% endif %}
                <a href="{% url 'dashboard:member_list' %}" class="item"><i class="users icon"></i> Members</a>
            </div>
        </div>
    </div>

    <div class="ui vertical basic segment">
        {% block dash_content %}
        {% endblock %}
    </div>
{% endblock %}