{% extends 'dashboard/base.html' %}
{% load humanize %}

{% block title %}
    Dashboard | Warungid - Serasa Warung Milik Sendiri
{% endblock %}

{% block dash_content %}
<div class="ui fluid container">
    <div class="ui stackable horizontally padded vertically divided grid">
        <div class="row">
            <div class="column">
                <h1 class="ui header">
                    <i class="chart line icon"></i>
                    <div class="content">
                        Dashboard
                        <div class="sub header">
                            Beranda
                        </div>
                    </div>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="three wide column">
                <div class="ui inverted teal segment">
                    <div class="ui tiny inverted statistic">
                        <div class="label">Saldo</div>
                        <div class="value">{{ user.profile.wallet.get_saldo|floatformat:0|intcomma }}</div>
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <div class="ui inverted orange segment">
                    <div class="ui tiny inverted statistic">
                        <div class="label">Limit</div>
                        <div class="value">{{ user.profile.wallet.limit|floatformat:0|intcomma }}</div>
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <div class="ui inverted grey segment">
                    <div class="ui tiny inverted statistic">
                        <div class="label">Loan</div>
                        <div class="value">{{ user.profile.wallet.loan|floatformat:0|intcomma }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}