{% extends 'dashboard/base.html' %}
{% load humanize %}

{% block title %}
    Dashboard | Warungid - Serasa Warung Milik Sendiri
{% endblock %}

{% block dash_content %}
<div class="ui fluid container">
    <div class="ui stackable horizontally padded grid">
        <div class="row">
            <div class="three wide column">
                <div class="ui inverted teal segment">
                    <div class="ui tiny inverted statistic">
                        <div class="label">Saldo</div>
                        <div class="value">{{ user.profile.wallet.get_saldo|floatformat:0|intcomma }}</div>
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <div class="ui inverted orange segment">
                    <div class="ui tiny inverted statistic">
                        <div class="label">Limit</div>
                        <div class="value">{{ user.profile.wallet.limit|floatformat:0|intcomma }}</div>
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <div class="ui inverted grey segment">
                    <div class="ui tiny inverted statistic">
                        <div class="label">Loan</div>
                        <div class="value">{{ user.profile.wallet.loan|floatformat:0|intcomma }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui top attached inverted teal secondary menu">
                    <div class="item header">Recent 5 Sales</div>
                    <div class="right menu">
                        <a href="#" onclick="window.location.href='{% url 'dashboard:sale_list' %}'" class="item">View all</a>
                        <form action="{% url 'dashboard:sale_list' %}" class="ui form item">
                            <div class="ui icon input">
                                <input name="q" type="text" placeholder="Search..." style="border-radius:20px" >
                                <i class="search link icon"></i>
                            </div>
                        </form>
                    </div>
                </div>
                <table class="ui bottom attached small striped table">
                    <tbody>
                        {% for bill in bill_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <a>{{ bill.get_trx.code }}</a>
                                <p>Pembelian {{ bill.get_trx.product.product_name|title }}</p>
                            </td>
                            <td>
                                {{ bill.get_trx.customer }}
                                <p>
                                    S/N {{ bill.get_api_trx.sn|default:'-' }} <i style="color:coral">{{ bill.get_api_status|title }}</i>
                                </p>
                            </td>
                            <td>
                                {{ bill.credit|floatformat:0|intcomma }}
                            </td>
                            <td>{{ bill.user }}</td>
                            <td class="right aligned">
                                {{ bill.timestamp }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            var conten = [
                {
                    'title': 'Search for X',
                    'description': 'Descript somethings.',
                    'url': 'http://google.com/{query}'
                }
            ]
            $('.ui.search').search({
                source: conten,
                searchFields: ['title'],
                fullTextSearch: false
            });
        });
    </script>
{% endblock %}