{% extends 'dashboard/base.html' %}
{% load humanize %}

{% block title %}
Product
{% endblock %}

{% block dash_content %}
<div class="ui fluid container">
    <div class="ui stackabel horizontally padded vertically divided grid">
        <div class="row">
            <div class="column">
                <h1 class="ui grey header">
                    <i class="coffee icon"></i>
                    <div class="content">
                        Product
                        <div class="sub header">
                            Produk    
                        </div>
                    </div>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="three wide column">
                <div class="ui fluid vertical accordion menu" id="sidemenu-product">
                    {% for i in group_list %}
                    <div class="item">
                        <div class="title {% if forloop.counter == 1%} active {% endif %}">
                            <i class="dropdown icon"></i>
                            {{ i.group_name }}
                        </div>
                        <div class="content {% if forloop.counter == 1%} active {% endif %}">
                            <div class="menu">
                                {% for o in i.operator_set.distinct %}
                                <a href="#" target-url="{% url 'dashboard:json_products' %}?gr={{ i.id }}&op={{ o.id }}" class="item js-product">
                                    {{ o.operator_name }}
                                </a>
                                {% endfor %}
                            </div> 
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
            </div>
            <div class="thirteen wide column">
                <div id="table-id" class="ui very relaxed divided list">
                    {% for i in product_list %}
                    <div class="item">
                        <div class="right floated content">
                            <div class="ui left pointing basic green label">
                                {% if i.price == 0 %}
                                    Depend Inquery
                                {% else %}
                                    IDR {{ i.price|intcomma }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="content">
                            <div class="header">
                                # {{ i.code }}
                            </div>
                            <p>
                                {{ i.product_name }}
                            </p>
                            <div class="meta">
                                <i class="ui small {% if i.is_active %} green {% else %} red {% endif %} label">{% if i.is_active %} Active {% else %} Closed {% endif %}</i>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        var load_table = function() {
            var btn = $(this);
            $.ajax({
                url: btn.attr('target-url'),
                dataType: 'json',
                success: function(data) {
                    $('#table-id tbody').html(data.html);
                }
            });
            return false;
        }

        $('#sidemenu-product a').click(load_table);
    });
</script>
{% endblock %}