{% extends 'dashboard/base.html' %}
{% load humanize %}

{% block title %}
Product
{% endblock %}

{% block dash_content %}
<div class="ui fluid container">
    <div class="ui stackabel horizontally padded vertically divided grid">
        <div class="row">
            <div class="column">
                <h1 class="ui grey header">
                    <i class="coffee icon"></i>
                    <div class="content">
                        Product
                        <div class="sub header">
                            Produk    
                        </div>
                    </div>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="three wide column">
                <div class="ui fluid vertical menu" id="sidemenu-product">
                    {% for i in group_list %}
                    <div class="item">
                        <div class="header">{{ i.group_name }}</div>
                        <div class="menu">
                            {% for o in i.operator_set.all %}
                            <a href="#" target-url="{% url 'dashboard:json_products' %}?gr={{ i.id }}&op={{ o.id }}" class="item js-product">
                                {{ o.operator_name }}
                            </a>
                            {% endfor %}
                        </div> 
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="thirteen wide column">
                <table id="table-id" class="ui small table">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Price</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in product_list %}
                        <tr>
                            <td>{{ i.product_name }}</td>
                            <td>{{ i.price|intcomma }}</td>
                            <td>{{ i.is_active }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        var load_table = function() {
            var btn = $(this);
            $.ajax({
                url: btn.attr('target-url'),
                dataType: 'json',
                success: function(data) {
                    $('#table-id tbody').html(data.html);
                }
            });
            return false;
        }

        $('#sidemenu-product a').click(load_table);
    });
</script>
{% endblock %}