{% extends 'dashboard/base.html' %}
{% load humanize %}

{% block title %}
    Sales | Warungid
{% endblock %}

{% block dash_content %}
<div class="ui fluid container">
    <div class="ui stackable horizontally padded vertically divided grid">
        <div class="row">
            <div class="column">
                <h1 class="ui header">
                    Sales
                    <div class="sub header">
                        Penjualan
                    </div>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui text menu">
                    <form action="" class="ui form item">
                        <div class="field">
                            <div class="ui right icon input">
                                <input style="border-radius:20px" type="text" name="q" placeholder="Search...">
                                <i class="search icon"></i>
                            </div>
                        </div>
                    </form>
                </div>
                <table class="ui small table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Info Trx</th>
                            <th>User</th>
                            <th>Status</th>
                            <th>Price</th>
                            <th class="right aligned">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sale in bill_list %}
                        <tr>
                            <td>{{ bill_list.start_index|add:forloop.counter0 }}</td>
                            <td>
                                <div class="ui list">
                                    <a class="header">{{ sale.get_trx.code }}</a>
                                    <div class="description">
                                        {{ sale.get_trx.product.product_name|title }}; {{ sale.get_trx.customer }}.
                                        <p>S/N {{ sale.get_api_trx.sn|default:'-' }}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="ui list">
                                    <div class="header">{{ sale.user.profile.get_fullname|title }}</div>
                                    <div class="description">
                                        <a>({{ sale.user.profile.get_user_type_display|lower }})</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                {% if sale.is_delete %} <div class="ui orange mini label">Refund</div> {% else %} {{ sale.get_api_status|title }} {% endif %}
                            </td>
                            <td>{{ sale.credit|floatformat:0|intcomma }}</td>
                            <td class="right aligned">{{ sale.timestamp|date:"d/m/Y H:i" }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td>
                                <div class="ui placeholder segment" style="height:450px">
                                    <div class="ui icon header">
                                        <i class="search icon"></i>
                                        We don't have any documents matching with {{ q }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Pagination -->
                {% include 'pagination.html' with objs=bill_list %}

            </div>
        </div>
    </div>
</div>
{% endblock %}