{% extends 'dashboard/base.html' %}
{% load humanize %}

{% block title %}
    {{ profile.get_fullname|title }} - Member of Warungid
{% endblock %}

{% block dash_content %}
<div class="ui fluid container">
    <div class="ui stackable horizontally padded grid">
        <div class="row">
            <div class="column">
                <div class="ui breadcrumb">
                    <a href="" onclick="window.history.back(); return false;" class="section">Members</a>
                    <span class="divider">/</span>
                    <div class="section active">{{ profile.get_fullname|title }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="three wide column">
                <div class="ui inverted teal segment">
                    <div class="ui tiny inverted statistic">
                        <div class="label">Saldo</div>
                        <div class="value">{{ profile.wallet.get_saldo|floatformat:0|intcomma }}</div>
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <div class="ui inverted orange segment">
                    <div class="ui tiny inverted statistic">
                        <div class="label">Limit</div>
                        <div class="value">{{ profile.wallet.limit|floatformat:0|intcomma }}</div>
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <div class="ui inverted grey segment">
                    <div class="ui tiny inverted statistic">
                        <div class="label">Utang</div>
                        <div class="value">0</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="eight wide column">
                <div id="commision-chart-id" class="ui segment">
                    <!-- Commision Chart -->
                </div>
                <table id="commision-id" class="ui small table js-data" target-url="{% url 'dashboard:json_commision_profile' profile.id %}">
                    <tbody>
                        <!-- Content -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<!-- <script src="https://code.highcharts.com/highcharts.js"></script> -->
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script>
    $(document).ready(function() {
        var getinit_data = function(e) {
            $.ajax({
                url: e.attr('target-url'),
                dataType: 'json',
                success: function(data) {
                    $('#' + e.attr('id') + ' tbody').html(data.html);
                }
            });
            return false;
        }

        $('.js-data').each(function() {
            var obj = $(this);
            getinit_data(obj);
        });

        $.ajax({
            url: "{% url 'dashboard:json_commision_chart' profile.id %}",
            dataType: "json",
            success: function(data) {
                console.log(data);
                Highcharts.stockChart('commision-chart-id', data);
            }
        });

    });
</script>
{% endblock %}