{% extends 'dashboard/base.html' %}
{% load humanize %}

{% block title %}
    Members | Warungid
{% endblock %}

{% block dash_content %}
<div class="ui fluid container">
    <div class="ui stackable horizontally padded vertically divided grid">
        <div class="row">
            <div class="column">
                <h1 class="ui header">
                    Member
                    <div class="sub header">
                        Anggota
                    </div>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui text menu">
                    <form action="" class="ui form item">
                        <div class="field">
                            <div class="ui right icon input">
                                <i class="search icon"></i>
                                <input type="text" name="q" placeholder="Search..." style="border-radius:20px">
                            </div>
                        </div>
                    </form>
                </div>
                <table class="ui small bottom attached table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>User</th>
                            <th>Ponsel</th>
                            <th>Active</th>
                            <th>Saldo</th>
                            <th>Commision</th>
                            <th>Loan</th>
                            <th>Limit</th>
                        </tr>
                    </thead>
                    {% for profile in profile_list %}
                    <tr onclick="window.location.href='{% url 'dashboard:profile' profile.id %}'">
                        <td>{{ profile_list.start_index|add:forloop.counter0 }}</td>
                        <td>
                            <div class="ui list">
                                <div class="item">
                                    <div class="content">
                                        <a class="header">
                                            {{ profile.get_fullname|title }}
                                        </a>
                                        <div class="description">
                                            {{ profile.user.email }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{ profile.get_hidden_ponsel|default:'-' }}</td>
                        <td>
                            {% if profile.user.is_active %}
                            <i class="green check icon"></i>
                            {% else %}
                            <i class="red close icon"></i>
                            {% endif %}
                        </td>
                        <td>{{ profile.wallet.get_saldo|floatformat:0|intcomma }}</td>
                        <td>{{ profile.wallet.commision|floatformat:0|intcomma }}</td>
                        <td class="negative">{{ profile.wallet.get_loan|floatformat:0|intcomma }}</td>
                        <td>{{ profile.wallet.limit|floatformat:0|intcomma }}</td>
                    </tr>
                    {% endfor %}
                </table>

                <!-- Pagination -->
                {% include 'pagination.html' with objs=profile_list %}

            </div>
        </div>
    </div>
</div>
{% endblock %}